In [1]:
import pandas as pd

/Users/matias/Code/matias.pettersen/codingfoundation/venv/lib/python3.8/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
sheet1 = pd.read_excel('movies.xls', sheet_name='1900s')
sheet2 = pd.read_excel('movies.xls', sheet_name='2000s')

movies = pd.concat([sheet1, sheet2])

In [3]:
movies.head(10)

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123.0,1.33,385907.0,NaN,...,436.0,22.0,9.0,481,691,1,10718,88.0,69.0,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110.0,1.33,100000.0,3000000.0,...,2.0,2.0,0.0,4,0,1,5,1.0,1.0,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151.0,1.33,245000.0,NaN,...,81.0,12.0,6.0,108,226,0,4849,45.0,48.0,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145.0,1.33,6000000.0,26435.0,...,136.0,23.0,18.0,203,12000,1,111841,413.0,260.0,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110.0,1.33,NaN,9950.0,...,426.0,20.0,3.0,455,926,1,7431,84.0,71.0,8.0
5,The Broadway Melody,1929,Musical|Romance,English,USA,Passed,100.0,1.37,379000.0,2808000.0,...,77.0,28.0,4.0,109,167,8,4546,71.0,36.0,6.3
6,Hell's Angels,1930,Drama|War,English,USA,Passed,96.0,1.20,3950000.0,NaN,...,431.0,12.0,4.0,457,279,1,3753,53.0,35.0,7.8
7,A Farewell to Arms,1932,Drama|Romance|War,English,USA,Unrated,79.0,1.37,800000.0,NaN,...,998.0,164.0,99.0,1284,213,1,3519,46.0,42.0,6.6
8,42nd Street,1933,Comedy|Musical|Romance,English,USA,Unrated,89.0,1.37,439000.0,2300000.0,...,610.0,105.0,45.0,995,439,2,7921,97.0,65.0,7.7
9,She Done Him Wrong,1933,Comedy|Drama|History|Musical|Romance,English,USA,Approved,66.0,1.37,200000.0,NaN,...,418.0,85.0,28.0,583,328,1,4152,59.0,35.0,6.5

In [4]:
movies.shape

(3438, 25)

In [5]:
movies.describe()

,Year,Duration,Aspect Ratio,Budget,Gross Earnings,Facebook Likes - Director,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
count,3438.000000,3434.000000,3341.000000,3.201000e+03,3.014000e+03,3438.000000,3435.000000,3435.000000,3428.000000,3438.000000,3438.000000,3438.000000,3.438000e+03,3434.000000,3422.000000,3438.000000
mean,1997.984293,108.998544,2.056537,3.941075e+07,4.492082e+07,745.030832,6263.029403,1463.134498,553.032089,9077.683828,2515.703316,1.239674,8.510880e+04,301.652301,118.436879,6.490663
std,12.470263,23.883193,0.376536,2.432410e+08,6.292982e+07,2929.053031,15250.115971,3892.035000,1280.095361,17879.481778,7312.148834,1.829391,1.428053e+05,407.042771,86.807019,1.100764
min,1916.000000,7.000000,1.180000,2.180000e+02,7.030000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000e+00,1.000000,1.000000,1.900000
25%,1996.000000,94.000000,1.850000,6.500000e+06,5.387876e+06,7.000000,618.000000,281.000000,135.000000,1421.000000,0.000000,0.000000,1.056725e+04,81.000000,53.000000,5.900000
50%,2002.000000,104.000000,1.850000,1.943000e+07,2.341684e+07,50.000000,975.000000,595.000000,368.000000,2990.000000,15.000000,1.000000,3.513350e+04,177.500000,100.000000,6.600000
75%,2006.000000,119.000000,2.350000,4.000000e+07,5.788069e+07,212.000000,11000.000000,898.000000,624.000000,13075.250000,749.500000,2.000000,9.437825e+04,358.000000,164.000000,7.300000
max,2009.000000,330.000000,16.000000,1.221550e+10,7.605058e+08,22000.000000,640000.000000,137000.000000,19000.000000,656730.000000,115000.000000,43.000000,1.689764e+06,5060.000000,723.000000,9.300000

In [6]:
directors = movies.groupby(["Director"])['IMDB Score'].mean().sort_values(ascending=False)

In [7]:
directors

Director
Charles Chaplin                     8.600
Florian Henckel von Donnersmarck    8.500
Majid Majidi                        8.500
Sergio Leone                        8.475
Moustapha Akkad                     8.400
                                    ...
Roger Christian                     2.400
Alex Zamm                           2.300
Jason Friedberg                     2.300
Vondie Curtis-Hall                  2.100
A. Raven Cruz                       1.900
Name: IMDB Score, Length: 1728, dtype: float64

In [8]:
movies["Net Earnings"] = movies["Gross Earnings"] - movies["Budget"]

In [9]:
output = movies[["Title", "Budget", "Gross Earnings", "Net Earnings"]].sort_values(by="Net Earnings", ascending=False).head(20)

In [10]:
output

,Title,Budget,Gross Earnings,Net Earnings
1867,Avatar,237000000.0,760505847.0,523505847.0
1027,Titanic,200000000.0,658672302.0,458672302.0
226,Star Wars: Episode IV - A New Hope,11000000.0,460935665.0,449935665.0
328,E.T. the Extra-Terrestrial,10500000.0,434949459.0,424449459.0
737,The Lion King,45000000.0,422783777.0,377783777.0
1281,Star Wars: Episode I - The Phantom Menace,115000000.0,474544677.0,359544677.0
1774,The Dark Knight,185000000.0,533316061.0,348316061.0
659,Jurassic Park,63000000.0,356784000.0,293784000.0
605,Finding Nemo,94000000.0,380838870.0,286838870.0
877,Shrek 2,150000000.0,436471036.0,286471036.0
707,The Lord of the Rings: The Return of the King,94000000.0,377019252.0,283019252.0
359,Star Wars: Episode VI - Return of the Jedi,32500000.0,309125409.0,276625409.0
709,Forrest Gump,55000000.0,329691196.0,274691196.0
276,Star Wars: Episode V - The Empire Strikes Back,18000000.0,290158751.0,272158751.0
564,Home Alone,18000000.0,285761243.0,267761243.0
1086,Star Wars: Episode III - Revenge of the Sith,113000000.0,380262555.0,267262555.0
504,Spider-Man,139000000.0,403706375.0,264706375.0
1317,The Sixth Sense,40000000.0,293501675.0,253501675.0
199,Jaws,8000000.0,260000000.0,252000000.0
2072,The Twilight Saga: New Moon,50000000.0,296623634.0,246623634.0

In [11]:
output.to_excel("output.xls")